.navbar {
    background-color: #ffffff;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    padding: 0 24px;
    max-width: 1100px;
  }
  
  .navbar-logo {
    color: #000000;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
  }
  
  .nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
  }
  
  .nav-item {
    height: 80px;
    display: flex;
    align-items: center;
  }
  
  .nav-links {
    color: #000000;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
  }
  
  .nav-links:hover {
    color: #1A73E8;
    transition: all 0.2s ease-out;
  }